body{
	background:#3C1642;
}

.layout{
    display:flex;
}

.horizontal-section{
	min-width:50%;
}

#canvas-container, #visualization{
	text-align:center;
}

canvas{
	border:1px black solid;
	box-shadow: 6px 3px 16px 1px rgba(0,0,0,0.3);
}
.top-margin{
	margin-top:20px;
}
.input-group{
	display:inline-block;
	min-width:49%
}
.input-group label{
	display:block;
}

.accordion{
    background-color:#1DD3B0;
    font-size:large;
    color:#222;
    cursor:pointer;
    padding:10px;
    text-align:left;
    border:none;
    outline:none;
    transition: 0.5s;
    width:100%;
	text-transform: uppercase;
	font-weight: 700;
}

.active, .accordion:hover{
    background-color:#18B495;
}

.panel{
    padding:0 18px;
    background-color:white;
    max-height:0;
    overflow:hidden;
    transition: max-height 0.2s ease-out;
}

.accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
  }
  
.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}

#textOutput{
    color:#fff;
}

#factionContainer {
    color:#000;
}