body{
	background:#52452e;
}

.horizontal-section{
	max-width:50%;
}

#canvas-container, #visualization{
	text-align:center;
}

canvas{
	border:1px black solid;
	box-shadow: 6px 3px 16px 1px rgba(0,0,0,0.3);
}
.top-margin{
	margin-top:20px;
}
.input-group{
	display:inline-block;
	min-width:49%
}
.input-group label{
	display:block;
}